#services {
  margin-top: 15vh;
  position: relative;
}

.services-bg {
  position: relative;
  padding: 0;
  margin: 0;
}

.top-box-service i {
  color: aquamarine;
}
.top-box-service {
  width: 400px;
  color: white;
  text-align: center;
  padding: 20px;
}

.top-box-service:hover {
  filter: drop-shadow(0 0 10px rgb(7, 146, 114));
  -webkit-filter: drop-shadow(0 0 10px rgb(7, 146, 114));
}

.toppng {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

/* .toppng:hover{
  filter: drop-shadow(0 0 10px rgb(7, 146, 114));

} */

#services h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 10vh;
  filter: drop-shadow(0 0 10px rgb(7, 146, 114));
  -webkit-filter: drop-shadow(0 0 5px rgb(7, 146, 114));
  -webkit-filter: drop-shadow(0 0 10px rgb(7, 146, 114));
}

@media screen and (max-width: 1000px) {
  .toppng {
    width: 200px;
    height: 200px;
    margin-top: 100px;
  }
  .top-box-service {
    width: 200px;
    padding: 10px;
  }
  .top-box-service h3 {
    font-size: 20px;
  }
  .tops {
    padding-top: 0;
    padding-bottom: 0;
  }
  .bottom {
    margin-top: -100px;
  }
}

@media screen and (max-width: 720px) {
  .toppng {
    width: 130px;
    height: 130px;
    margin-top: 150px;
  }
  .top-box-service {
    width: 100%;
    padding: 0;
    padding-bottom: 50px;
  }
  .tops {
    width: 200px;
    padding-bottom: 0px;
  }
  .top-box-service h3 {
    font-size: 20px;
    padding: 10px;
  }
  .top-box-service p {
    font-size: 15px;
  }
  #services h1 {
    font-size: 3rem;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .toppng {
    width: 100px;
    height: 100px;
    margin-top: 100px;
  }
  .top-box-service h3 {
    font-size: 12px;
    padding: 0px;
  }
  #services h1 {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  .top-box-service p {
    font-size: 10px;
  }
}
