#projects {
  margin-top: 150px;
  text-align: center;
}

#projects h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 100;
  padding-bottom: 50px;
}

.project-body p {
  width: 70%;
  margin-left: 100px;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
}

.project-body button {
  margin-top: 30px;
  width: 220px;
  height: 50px;
  border: white 1px solid;
  color: white;
  background-color: inherit;
  font-size: 20px;
}
.project-body button i {
  margin-left: 30px;
}
.project-body button:hover {
  cursor: pointer;
  background-color: rgba(74, 77, 76, 0.267);
}
.row {
  padding-bottom: 100px;
}
.project-two {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 1100px) {
  /* .project-one,
  .project-two,
  .project-three {
    flex-direction: column;
  } */
}

@media screen and (max-width: 600px) {
  .project-body p {
    margin-left: 50px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  #projects h1 {
    font-size: 35px;
  }
}
