a {
  text-decoration: none;
}
#footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: relative;
  margin-bottom: 15vh;
}
.footer-bg {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 8vh;
}
.footer-head {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 15vh;
  margin-bottom: 5vh;
  display: block;
  filter: drop-shadow(0 0 10px rgb(7, 146, 114));
}
.footer-msg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(81, 235, 255, 0.588) 0%,
    rgba(78, 236, 200, 0.602) 100%
  );
  min-height: 60vh;
  border-radius: 25px;
  padding: 35px 25px;
  max-width: 400px;
}

.footer-msg input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 0;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  font-size: 18px;
  margin-bottom: 25px;
}
.footer-msg textarea {
  width: 100%;
  outline: none;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

.footer-msg button {
  margin-top: 20px;
  width: 50%;
  max-width: 200px;
  height: 40px;
  background: linear-gradient(
    180deg,
    rgba(4, 88, 136, 0.602) 0%,
    rgba(13, 58, 126, 0.588) 100%
  );
  color: white;
  font-size: 17px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 5px rgb(112, 111, 111);
}

.footer-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.mobileContainer {
  text-align: left;
  padding-left: 100px;
}

.mobile {
  width: 270px;
}

.mobile:hover {
  filter: drop-shadow(0 0 10px rgb(7, 146, 114));
}

.mobile i {
  margin-right: 20px;
}

.email-footer {
  font-size: 20px;
  border-bottom: 2px solid #fff;
}

.email-footer:hover {
  filter: drop-shadow(0 0 10px rgb(7, 146, 114));
}

.footer-contact a {
  text-decoration: none;
  color: white;
}
.socials {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.socials a:hover {
  filter: drop-shadow(0 0 10px rgb(7, 146, 114));
}

.footer-icons {
  width: 40px;
  height: 40px;
}
.copyright {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: serif;
  color: white;
  margin-bottom: 8vh;
}

@media screen and (max-width: 1100px) {
  #footer {
    flex-direction: column;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
  }
  .socials {
    margin: 10vh 0;
  }
}
@media screen and (max-width: 600px) {
  .footer-msg {
    margin: 0;
    width: 100%;
    position: relative;
  }
  .footer-msg input {
    margin-left: 0;
  }
  .footer-msg textarea {
    margin-left: 0;
  }

  .footer-head {
    font-size: 2rem;
  }

  .mobileContainer {
    margin-bottom: 5vh;
  }
  .footer-msg button {
    margin-left: 0px;
  }
}
@media screen and (max-width: 370px) {
  .footer-msg {
    margin-left: 3px;
  }
  .footer-msg button {
    margin-left: 0px;
  }
}
