#testimonials h1 {
  text-align: center;
  margin-bottom:5vh;
  font-size: 50px;
  font-weight: 100;
  font-family: "Playfair Display", serif;
  filter:drop-shadow(0 0 10px rgb(7, 146, 114));

}
.testimonial {
  width: 70%;
  text-align: center;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(86, 216, 234, 0.588) 0%,
    rgba(78, 236, 200, 0.602) 100%
  );
  padding: 10px; 
  border-radius: 25px;
  position: relative;
}

.testimonial p {
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: serif;
}

.testimonial-arrow-right {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  right: -105px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.testimonial-arrow-right:hover, .testimonial-arrow-left:hover{
  filter: drop-shadow(0 0 15px rgb(7, 146, 114));
  -webkit-filter: drop-shadow(0 0 15px rgb(7, 146, 114));
}

.testimonial-arrow-left {
  position: absolute;
  width: 80px;
  background-color: transparent;
  height: 80px;
  display: flex;
  left: -105px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.ellipse-left {
  position: absolute;
  z-index: -1;
  top: 83px;
  left: -89px;
}
.arrow-left {
  height: 45px;
}
.ellipse-right {
  position: absolute;
  z-index: -1;
  top: 38px;
  left: -72px;
}
.arrow-right {
  height: 45px;
}

.card-test {
  position: relative;
  width: 90%;
  margin-left: 4%;
}

.quote-down {
  height:3rem;
  object-fit: contain;
  margin-left:auto;
}
.quote-up {
  height:3rem;
  object-fit: contain;
  position:absolute;
  top:10px;
  left:10px;
}

.content{
  padding:4rem 0 0 0;
}

@media screen and (max-width: 700px) {
  .testimonial {
    width: 70%;
    padding: 23px;
  }
  #testimonials h1 {
    font-size: 30px;
  }
  .card-test {
    padding: 0;
    /* width: 100%; */
  }
  .card-test p {
    font-size: 1rem;
    line-height: 30px;
  }
  .quote-up {
    /* margin-top: 20px; */
    /* width: 40px; */
    height:2rem;
    /* padding-bottom: 0px; */
  }
  .quote-down {
    /* margin-left: 70%; */
    /* width: 40px; */
    height:2rem;
    
  }
  .testimonial-arrow-left {
    left: -85px;
  }
  .testimonial-arrow-right {
    right: -85px;
  }
}
