* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
a {
  text-decoration: none;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-family: "Anton", sans-serif;
  color: white;
}

h1,
p {
  color: white;
}
